beautifulsoup4==4.12.2
bs4==0.0.1
docx2txt==0.8
Flask==2.3.2
gunicorn==20.1.0
httplib2==0.22.0
langchain==0.0.189
Markdown==3.4.3
parse==1.19.0
python-docx==0.8.11
python-slugify==8.0.1
SQLAlchemy==2.0.15
unstructured==0.7.1
uuid==1.30
sentence_transformers